.img-about {
   object-fit: cover;
   width: 100%;
   height: 223px;
   border-radius: 25px;
}

.about-container {
   margin: 20px 80px;
}
.about-container accordeon-expanded {
   margin: 30px 0;
}

@media screen and (max-width: 850px) {
   .about-container {
      margin: 0;
   }
}
