/* card grid sur trois colon */

.banner {
   background-color: #000;
   border-radius: 25px;
}

.img-banner {
   object-fit: cover;
   width: 100%;
   height: 223px;
   border-radius: 25px;
   opacity: 0.6;
}

.container {
   margin: 0;

   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.title-banner {
   width: 100%;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   display: flex;

   justify-content: center;
}

.card-container {
   background-color: #f6f6f6;
   border-radius: 25px;

   margin: 40px 0;
   padding: 50px;

   display: grid;
   grid-template-columns: repeat(3, minmax(300px, 1fr));
   gap: 40px;
   justify-items: center;

   align-items: center;
}
@media screen and (max-width: 1200px) {
   .card-container {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
   }
}
@media screen and (max-width: 850px) {
   .img-banner,
   .banner {
      height: 111px;
      border-radius: 10px;
   }
   .card-container {
      background-color: #fff;
      margin: 20px 0;
      padding: 0;
      gap: 20px;
      grid-template-columns: repeat(1, minmax(100%, 1fr));
   }
}
